_Assets/
_Tools/
_Various_Projects/
*.psd
*.ai
*/Project Files
*/Other Projects
*/Other_Projects
*/Images
Jerry Garcia Band/
Phish/
desktop.ini
.gitattributes
.gitignore
.gitignore.bak
*/Covers-original
*.bat
*.7z
*.zip